.row-fluid
  .span12 
    .hero-bee
      %p.greetings=t("greetings")
      =link_to t("admin.projects.new.new_project"),new_admin_project_path,class:"btn-large btn-primary project_control"
      =link_to t("admin.projects.index.available_projects"),admin_projects_path,class:"btn-large btn-primary project_control"