.row-fluid
  
  .span2 &nbsp;
  
  .span8
    %div{id:"main"}
      - unless @ticket.errors.empty? 
        .row-fluid
          .span12
            =render partial:'shared/errors', locals:{model:@ticket}
      
      =render "form" 
  
  .span2 &nbsp;