.navbar.navigation 
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-eye-open.icon-white= link_to t("brand"), root_path, :class=>"brand"
      
      .nav-collapse
        %ul.nav
          %li.active= link_to "Link1",'#'
          - 5.times do |i|
            %li= link_to "Link_#{i}",'#'
        %ul.nav.pull-right
          %li.active=link_to "Support",'#'
          %li=link_to "Account",'#'
            				
            			


